.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.translate-z-10 {
  transform: translateZ(10px);
}

.translate-z-5 {
  transform: translateZ(5px);
} 